.courses_main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
}

.history_h1 {
    font-family: Raleway;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #13334C;
}

.faol {
    background-color: #0CBC87;
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding: 5px;
}

.no_faol {
    background-color: #bc0c0c;
    color: #fff;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding: 5px;
    margin-right: -15px;
    margin-left: 15px;
}